html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Nanum Myeongjo', 'Patrick Hand';
}
h1 {
  font-size: 6rem;
}
header {
  border: 1px solid red;
  height: 62rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
header div {
  border: 1px solid red;
  position: absolute;
  left: 25%;
}
header div button {
  padding: 2rem;
  font-size: 2rem;
  border: 0.5rem solid black;
  border-radius: 1rem;
}
header div button:hover {
  background: green;
  cursor: pointer;
  transition: 0.75s;
}
header div button:hover i {
  transform: rotate(90deg);
  transition: 0.5s;
}
header nav {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 1rem 1rem 10rem;
  align-self: flex-end;
  order: -1;
  border: 5px solid purple;
  position: relative;
}
header nav a {
  text-decoration: none;
  font-size: 3rem;
  color: black;
  margin-right: 2rem;
}
footer {
  border: 1px solid red;
}
footer input {
  display: block;
  text-align: center;
}
section {
  border: 1px solid red;
  margin: 1rem;
  padding: 1rem;
}
